.cancellation-policy,
.please-refer-to {
  width: 1680px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.cancellation-policy {
  margin: 0;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
}
.please-refer-to {
  font-size: 16px;
  line-height: 22px;
  font-family: Lato;
}
.policy-heading {
  align-self: stretch;
  background-color: #bad6eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 10px;
  max-width: 100%;
}
.lilylamb-kids-we1 {
  width: 1120px;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
  display: inline-block;
  max-width: 100%;
}
.cancellation-request-process {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.cancellation-request-process-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.cancellation-process {
  width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.contact-information2,
.contact-information3 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.contact-information3 {
  padding-left: 43px;
}
.contact-information2 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 400;
}
.address-123-main1,
.blank-line1,
.brandname-customer-support1,
.email-supportbrandnamecom1,
.if-you-have1,
.phone-1-800-123-45671 {
  margin: 0;
}
.if-you-have-container1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
}
.contact-details {
  width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.cancellationpolicypage,
.lilylamb-kids-we-us-or-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #1c1c1c;
  font-family: Nunito;
}
.lilylamb-kids-we-us-or-group {
  align-self: stretch;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 64px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
}
.cancellationpolicypage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 48px;
}
@media screen and (max-width: 1200px) {
  .lilylamb-kids-we-us-or-group {
    gap: 32px;
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .cancellation-policy {
    font-size: 38px;
    line-height: 42px;
  }
  .cancellation-request-process-container {
    font-size: 26px;
    line-height: 31px;
  }
  .cancellation-process {
    gap: 16px;
  }
  .contact-information2 {
    font-size: 26px;
    line-height: 31px;
  }
  .contact-details {
    gap: 16px;
  }
  .lilylamb-kids-we-us-or-group {
    gap: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .cancellation-policy {
    font-size: 29px;
    line-height: 32px;
  }
  .cancellation-request-process-container,
  .contact-information2 {
    font-size: 19px;
    line-height: 23px;
  }
}
