.panorma-card-title {
  width: 1536px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 47px;
  max-width: 100%;
}
.cart-content,
.cartdetailspage,
.panorma-card-title {
  display: flex;
  align-items: flex-start;
}
.cart-content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.cartdetailspage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: 80px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1500px) {
  .panorma-card-title {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .cartdetailspage {
    gap: 40px;
  }
}
@media screen and (max-width: 850px) {
  .panorma-card-title {
    gap: 23px;
  }
  .cartdetailspage {
    gap: 20px;
  }
}
