.cookie-policy {
  margin: 0;
  width: 1680px;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.cookie-policy-heading {
  align-self: stretch;
  background-color: #bad6eb;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.lilylamb-kids-we {
  width: 1120px;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
  display: inline-block;
  max-width: 100%;
}
.what-are-cookies {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.definition-of-cookies,
.what-are-cookies-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.definition-of-cookies {
  line-height: 29px;
}
.cookies-are-small {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
}
.content-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.types-of-cookies {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
}
.blank-line,
.there-are-several {
  margin: 0;
}
.first-party-cookies-these,
.session-cookies-these,
.third-party-cookies-these {
  margin-bottom: 0;
}
.first-party-cookies-these-are {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 21px;
}
.there-are-several-container {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
}
.types-list {
  align-self: stretch;
  gap: 16px;
}
.content-container-parent,
.types-list,
.what-are-cookies-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-container-parent {
  align-self: stretch;
  gap: 16px;
  font-size: 24px;
}
.what-are-cookies-parent {
  width: 1120px;
  gap: 32px;
  max-width: 100%;
}
.how-we-use-cookies {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.essential-cookies,
.how-we-use-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.essential-cookies {
  line-height: 29px;
}
.essential-cookies-are {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
}
.cookie-types {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.performance-and-analytics {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
}
.performance-and-analytics1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
}
.cookie-types1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.functionality-cookies {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
}
.functionality-cookies-allow {
  align-self: stretch;
  height: 66px;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
  display: inline-block;
}
.cookie-types2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.advertising-and-targeting {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
}
.advertising-and-targeting1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
}
.cookie-types3 {
  align-self: stretch;
  gap: 16px;
}
.cookie-types3,
.how-we-use-cookies-parent,
.usage-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.usage-details {
  align-self: stretch;
  gap: 16px;
  font-size: 24px;
}
.how-we-use-cookies-parent {
  width: 1120px;
  gap: 32px;
  max-width: 100%;
}
.managing-cookies1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.browser-settings,
.managing-cookies {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.browser-settings {
  line-height: 29px;
}
.most-web-browsers {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
}
.option-list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.opt-out-options {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
}
.your-online-choices {
  color: inherit;
}
.you-can-opt-container {
  align-self: stretch;
  height: 44px;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
  display: inline-block;
}
.option-list1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.consequences-of-disabling {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
}
.if-you-choose {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
}
.option-list2 {
  align-self: stretch;
  gap: 16px;
}
.management,
.management-options,
.option-list2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.management-options {
  align-self: stretch;
  gap: 16px;
  font-size: 24px;
}
.management {
  width: 1120px;
  gap: 32px;
  max-width: 100%;
}
.contact-information,
.contact-information1 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.contact-information1 {
  padding-left: 43px;
}
.contact-information {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 400;
}
.address-123-main,
.brandname-customer-support,
.email-supportbrandnamecom,
.if-you-have,
.phone-1-800-123-4567 {
  margin: 0;
}
.if-you-have-container {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
}
.contact,
.cookiepolicy,
.lilylamb-kids-we-us-or-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact {
  width: 1120px;
  align-items: flex-start;
  gap: 32px;
  max-width: 100%;
}
.cookiepolicy,
.lilylamb-kids-we-us-or-parent {
  color: #1c1c1c;
  font-family: Nunito;
}
.lilylamb-kids-we-us-or-parent {
  align-self: stretch;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 64px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
}
.cookiepolicy {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 48px;
}
@media screen and (max-width: 1200px) {
  .lilylamb-kids-we-us-or-parent {
    gap: 32px;
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .cookie-policy {
    font-size: 38px;
    line-height: 42px;
  }
  .contact-information,
  .how-we-use-container,
  .managing-cookies,
  .what-are-cookies-container {
    font-size: 26px;
    line-height: 31px;
  }
}
@media screen and (max-width: 750px) {
  .contact,
  .how-we-use-cookies-parent,
  .management,
  .what-are-cookies-parent {
    gap: 16px;
  }
  .lilylamb-kids-we-us-or-parent {
    gap: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .cookie-policy {
    font-size: 29px;
    line-height: 32px;
  }
  .advertising-and-targeting,
  .browser-settings,
  .consequences-of-disabling,
  .contact-information,
  .definition-of-cookies,
  .essential-cookies,
  .functionality-cookies,
  .how-we-use-container,
  .managing-cookies,
  .opt-out-options,
  .performance-and-analytics,
  .types-of-cookies,
  .what-are-cookies-container {
    font-size: 19px;
    line-height: 23px;
  }
}
