.free-wallet-with {
  width: 513.7px;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
  max-width: 100%;
}
.container,
.icon,
.icon1 {
  overflow: hidden;
  flex-shrink: 0;
}
.container {
  width: 1259.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.icon,
.icon1 {
  height: 14px;
  width: 8.8px;
  position: relative;
  display: none;
  opacity: 0.6;
}
.background {
  align-self: stretch;
  background-color: #645552;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 6px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.logo-image-icon {
  width: 34px;
  height: 36px;
  position: relative;
}
.logo-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5px 0 0;
}
.present-haven {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 150%;
  text-transform: capitalize;
  white-space: nowrap;
}
.logo-image-container-parent {
  flex-direction: row;
  gap: 5.8px;
}
.logo,
.logo-container,
.logo-image-container-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo {
  overflow: hidden;
  flex-direction: row;
}
.logo-container {
  flex-direction: column;
  padding: 24px 0 0;
}
.item-link {
  text-decoration: none;
  position: relative;
  line-height: 89px;
  color: inherit;
  display: inline-block;
  min-width: 92px;
}
.item-link1 {
  width: 60.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 60.4px;
}
.item-link1,
.item-link2,
.item-link3 {
  text-decoration: none;
  position: relative;
  line-height: 89px;
  color: inherit;
}
.item-link2 {
  display: inline-block;
  min-width: 63px;
}
.item-link3 {
  width: 65.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 65.3px;
}
.item-link4 {
  display: inline-block;
  min-width: 102px;
}
.item-link4,
.item-link5,
.item-link6,
.item-link7 {
  text-decoration: none;
  position: relative;
  line-height: 89px;
  color: inherit;
}
.item-link5 {
  width: 79.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 79.2px;
}
.item-link6,
.item-link7 {
  display: inline-block;
  min-width: 88px;
}
.item-link7 {
  min-width: 92px;
}
.nav-links,
.nav-list {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.nav-links {
  flex: 1;
  justify-content: space-between;
  padding: 0 1px 0 0;
  gap: 20px;
  text-align: center;
  font-size: 14px;
  color: #1c1c1c;
  font-family: "Work Sans";
}
.nav-list {
  width: 876.9px;
  justify-content: flex-start;
  padding: 0 12px 0 15px;
}
.search-icon {
  width: 20px;
  height: 20px;
  position: relative;
  flex-shrink: 0;
}
.search-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.link-icon {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 26px;
}
.search-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.search-container-wrapper {
  width: 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 31.5px 0 0;
  box-sizing: border-box;
}
.background-parent,
.logo-container-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.logo-container-parent {
  align-self: stretch;
  background-color: #e0cdbe;
  flex-direction: row;
  justify-content: center;
  padding: 5.5px 20px;
  box-sizing: border-box;
  gap: 181px;
  text-align: left;
  font-size: 27.2px;
  color: #000;
  font-family: Nunito;
}
.background-parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.container-icon,
.header1 {
  align-self: stretch;
  max-width: 100%;
}
.header1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: Lato;
}
.container-icon {
  height: 200px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div {
  width: 57.9px;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.div,
.div1,
.div2 {
  position: relative;
}
.div1 {
  width: 18.4px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div2 {
  flex: 1;
  line-height: 135%;
  display: inline-block;
  min-width: 69.3px;
  white-space: nowrap;
}
.card-containers-inner,
.parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.parent {
  flex: 1;
  align-items: flex-end;
  gap: 4px;
}
.card-containers-inner {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 73px;
}
.aldi,
.aldi-blue-giftcard {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.aldi-blue-giftcard {
  height: 18px;
  line-height: 135%;
  color: #645552;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.card-containers {
  height: 329px;
  width: 300px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 690px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 40.7px;
  box-sizing: border-box;
  gap: 22.7px;
}
.container-icon1 {
  align-self: stretch;
  height: 200px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div3 {
  width: 57.9px;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.div3,
.div4,
.div5 {
  position: relative;
}
.div4 {
  width: 18.4px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div5 {
  flex: 1;
  line-height: 135%;
  display: inline-block;
  min-width: 69.3px;
  white-space: nowrap;
}
.card-containers-child,
.group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.group {
  flex: 1;
  align-items: flex-end;
  gap: 4px;
}
.card-containers-child {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 73px;
}
.aldi-orange-giftcard,
.aldi1 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.aldi-orange-giftcard {
  height: 18px;
  line-height: 135%;
  color: #645552;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.card-containers1 {
  height: 329px;
  width: 300px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 1035px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 40.7px;
  box-sizing: border-box;
  gap: 22.7px;
}
.link-202220all20gift20car {
  height: 195px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 97.5px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.backgroundborder,
.backgroundborder1 {
  height: 8px;
  width: 8px;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}
.backgroundborder1 {
  background-color: #000;
  border: 1px solid #fff;
}
.container2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px 20px;
  gap: 8px;
  opacity: 0.6;
  z-index: 1;
}
.container1,
.div6 {
  display: flex;
  justify-content: center;
}
.container1 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  padding: 170px 0 0;
  position: relative;
}
.div6 {
  width: 57.9px;
  line-height: 135%;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.div6,
.div7,
.div8 {
  position: relative;
}
.div7 {
  width: 18.4px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div8 {
  flex: 1;
  line-height: 135%;
  white-space: nowrap;
}
.frame-div,
.parent1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.parent1 {
  flex: 1;
  align-items: flex-end;
  gap: 4px;
}
.frame-div {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 72px 0 71px;
}
.alton-towers-leisure,
.leisure-vouchers {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.alton-towers-leisure {
  height: 18px;
  line-height: 135%;
  color: #645552;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.card-containers2 {
  height: 302px;
  width: 300px;
  margin: 0 !important;
  position: absolute;
  top: 442px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 31.7px;
  box-sizing: border-box;
  gap: 13.7px;
}
.container-icon2 {
  align-self: stretch;
  height: 200px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div9 {
  width: 57.9px;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.div10,
.div11,
.div9 {
  position: relative;
}
.div10 {
  width: 18.4px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div11 {
  flex: 1;
  line-height: 135%;
  display: inline-block;
  min-width: 69.3px;
  white-space: nowrap;
}
.card-containers-inner1,
.parent2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.parent2 {
  flex: 1;
  align-items: flex-end;
  gap: 4px;
}
.card-containers-inner1 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 73px;
}
.american-golf,
.american-golf-gift {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.american-golf-gift {
  height: 18px;
  line-height: 135%;
  color: #645552;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.card-containers3 {
  height: 329px;
  width: 300px;
  margin: 0 !important;
  position: absolute;
  top: 442px;
  left: 690px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 40.7px;
  box-sizing: border-box;
  gap: 22.7px;
}
.container-icon3 {
  align-self: stretch;
  height: 200px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div12 {
  width: 57.9px;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.div12,
.div13,
.div14 {
  position: relative;
}
.div13 {
  width: 18.4px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div14 {
  flex: 1;
  line-height: 135%;
  display: inline-block;
  min-width: 69.3px;
  white-space: nowrap;
}
.card-containers-inner2,
.parent3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.parent3 {
  flex: 1;
  align-items: flex-end;
  gap: 4px;
}
.card-containers-inner2 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 73px;
}
.argos,
.argos-gift-card {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.argos-gift-card {
  height: 18px;
  line-height: 135%;
  color: #645552;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.card-containers4 {
  height: 329px;
  width: 300px;
  margin: 0 !important;
  position: absolute;
  top: 442px;
  left: 1035px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 40.7px;
  box-sizing: border-box;
  gap: 22.7px;
}
.container-icon4 {
  align-self: stretch;
  height: 200px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div15 {
  width: 57.2px;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.div15,
.div16,
.div17 {
  position: relative;
}
.div16 {
  width: 18.4px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div17 {
  flex: 1;
  line-height: 135%;
  display: inline-block;
  min-width: 69.3px;
  white-space: nowrap;
}
.parent4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
}
.card-containers-inner3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 73px 0 74px;
}
.arsenal-fc,
.arsenal-football-club {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.arsenal-football-club {
  height: 18px;
  line-height: 135%;
  color: #645552;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.card-containers5 {
  height: 329px;
  width: 300px;
  margin: 0 !important;
  position: absolute;
  top: 442px;
  left: 1380px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 40.7px;
  box-sizing: border-box;
  gap: 22.7px;
}
.container-icon5 {
  align-self: stretch;
  height: 200px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div18 {
  width: 57.2px;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.div18,
.div19,
.div20 {
  position: relative;
}
.div19 {
  width: 18.4px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div20 {
  flex: 1;
  line-height: 135%;
  display: inline-block;
  min-width: 69.3px;
  white-space: nowrap;
}
.parent5 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
}
.card-containers-inner4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 73px 0 74px;
}
.boohoo,
.boohoo-gift-card {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.boohoo-gift-card {
  height: 18px;
  line-height: 135%;
  color: #645552;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.card-containers6 {
  height: 329px;
  width: 300px;
  margin: 0 !important;
  position: absolute;
  top: 1768px;
  left: 345px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 40.7px;
  box-sizing: border-box;
  gap: 22.7px;
}
.container-icon6 {
  align-self: stretch;
  height: 200px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div21 {
  width: 57.9px;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.div21,
.div22,
.div23 {
  position: relative;
}
.div22 {
  width: 18.4px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div23 {
  flex: 1;
  line-height: 135%;
  white-space: nowrap;
}
.card-containers-inner5,
.parent6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.parent6 {
  flex: 1;
  align-items: flex-end;
  gap: 4px;
}
.card-containers-inner5 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 72px;
}
.boots,
.boots-gift-card {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.boots-gift-card {
  height: 18px;
  line-height: 135%;
  color: #645552;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.card-containers7 {
  height: 329px;
  width: 300px;
  margin: 0 !important;
  position: absolute;
  top: 1768px;
  left: 690px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 40.7px;
  box-sizing: border-box;
  gap: 22.7px;
}
.container-icon7 {
  align-self: stretch;
  height: 200px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div24 {
  width: 57.9px;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.div24,
.div25,
.div26 {
  position: relative;
}
.div25 {
  width: 18.4px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div26 {
  flex: 1;
  line-height: 135%;
  white-space: nowrap;
}
.card-containers-inner6,
.parent7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.parent7 {
  flex: 1;
  align-items: flex-end;
  gap: 4px;
}
.card-containers-inner6 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 72px 0 71px;
}
.british-airways-by,
.inspire-travel-card {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.british-airways-by {
  height: 18px;
  line-height: 135%;
  color: #645552;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.card-containers8 {
  height: 329px;
  width: 300px;
  margin: 0 !important;
  position: absolute;
  top: 1768px;
  left: 1035px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 40.7px;
  box-sizing: border-box;
  gap: 22.7px;
}
.container-icon8 {
  align-self: stretch;
  height: 200px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div27 {
  width: 57.9px;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.div27,
.div28,
.div29 {
  position: relative;
}
.div28 {
  width: 18.4px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div29 {
  flex: 1;
  line-height: 135%;
  white-space: nowrap;
}
.card-containers-inner7,
.parent8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.parent8 {
  flex: 1;
  align-items: flex-end;
  gap: 4px;
}
.card-containers-inner7 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 72px 0 71px;
}
.butlins-by-inspire,
.inspire-travel-card1 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.butlins-by-inspire {
  height: 18px;
  line-height: 135%;
  color: #645552;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.card-containers9 {
  height: 329px;
  width: 300px;
  margin: 0 !important;
  position: absolute;
  top: 2210px;
  left: 345px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 40.7px;
  box-sizing: border-box;
  gap: 22.7px;
}
.link-202220all20gift20car1 {
  height: 195px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 97.5px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.backgroundborder2,
.backgroundborder3 {
  height: 8px;
  width: 8px;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}
.backgroundborder3 {
  background-color: #000;
  border: 1px solid #fff;
}
.container4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px 20px;
  gap: 8px;
  opacity: 0.6;
  z-index: 1;
}
.container3,
.div30 {
  display: flex;
  justify-content: center;
}
.container3 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  padding: 170px 0 0;
  position: relative;
}
.div30 {
  width: 57.9px;
  line-height: 135%;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.div30,
.div31,
.div32 {
  position: relative;
}
.div31 {
  width: 18.4px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div32 {
  flex: 1;
  line-height: 135%;
  display: inline-block;
  min-width: 67.8px;
  white-space: nowrap;
}
.parent9 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
}
.card-containers-inner8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 73px 0 74px;
}
.the-restaurant-card {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.caf-rouge-the {
  flex: 1;
  position: relative;
  line-height: 18px;
}
.caf-rouge-the-restaurant-car-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 23px 0 24px;
  color: #645552;
}
.card-containers10 {
  height: 329px;
  width: 300px;
  margin: 0 !important;
  position: absolute;
  top: 2210px;
  left: 1035px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 40.7px;
  box-sizing: border-box;
  gap: 22.7px;
}
.container-icon9 {
  align-self: stretch;
  height: 200px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div33 {
  width: 57.9px;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.div33,
.div34,
.div35 {
  position: relative;
}
.div34 {
  width: 18.4px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div35 {
  flex: 1;
  line-height: 135%;
  white-space: nowrap;
}
.card-containers-inner9,
.parent10 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.parent10 {
  flex: 1;
  align-items: flex-end;
  gap: 4px;
}
.card-containers-inner9 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 72px 0 71px;
}
.carnival-by-inspire,
.inspire-travel-card2 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.carnival-by-inspire {
  height: 18px;
  line-height: 135%;
  color: #645552;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.card-containers11,
.product-cards {
  display: flex;
  align-items: flex-start;
}
.card-containers11 {
  height: 329px;
  width: 300px;
  margin: 0 !important;
  position: absolute;
  top: 2652px;
  left: 690px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 40.7px;
  box-sizing: border-box;
  gap: 22.7px;
}
.product-cards {
  align-self: stretch;
  height: 3423px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.content-container,
.content-container-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.content-container {
  width: 1680px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  text-align: center;
  font-size: 16px;
  color: #767676;
  font-family: Lato;
}
.content-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.productlistingpage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .logo-container-parent {
    gap: 90px;
  }
}
@media screen and (max-width: 1050px) {
  .productlistingpage {
    gap: 40px;
  }
}
@media screen and (max-width: 750px) {
  .logo-container-parent {
    gap: 45px;
  }
  .productlistingpage {
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  .logo-container-parent {
    gap: 23px;
  }
}
