.sign-in-to,
.sign-in1 {
  align-self: stretch;
  position: relative;
}
.sign-in1 {
  margin: 0;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
}
.sign-in-to {
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
  color: #1c1c1c;
}
.sign-in-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1px;
  gap: 12px;
}
.username {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Lato;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 72px;
}
.input-containers-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.input-fields {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px 13px 7px 10px;
  gap: 20px;
}
.password {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Lato;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 68px;
}
.input-fields-child {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.input-fields1 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px 17px 7px 10px;
  gap: 20px;
}
.button,
.credentials {
  align-self: stretch;
  flex: 1;
}
.credentials {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.or-sign-in {
  width: 102px;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Lato;
  display: inline-block;
  min-width: 102px;
}
.social-buttons-icon,
.social-buttons-icon1,
.social-buttons-icon2 {
  height: 45px;
  width: 45px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 45px;
}
.sign-in-heading,
.social-sign-in {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.sign-in-heading {
  align-self: stretch;
  width: 322px;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  max-width: 100%;
}
.sign-in,
.sign-in-content {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.sign-in {
  align-self: stretch;
  flex: 1;
  border-radius: 24px;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 85px 20px 84px;
}
.sign-in-content {
  height: 731px;
  width: 584px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 122px 0 0;
  min-width: 584px;
}
.background-shape-icon1 {
  height: 896px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 624px;
}
.sign-in-content-parent,
.singinpage {
  display: flex;
  justify-content: flex-start;
}
.sign-in-content-parent {
  width: 1753px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  gap: 189px;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #000;
  font-family: Nunito;
}
.singinpage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1400px) {
  .sign-in-content {
    flex: 1;
  }
  .sign-in-content-parent {
    flex-wrap: wrap;
    gap: 94px;
  }
}
@media screen and (max-width: 825px) {
  .sign-in1 {
    font-size: 38px;
    line-height: 42px;
  }
  .sign-in {
    padding-top: 55px;
    padding-bottom: 55px;
    box-sizing: border-box;
  }
  .sign-in-content {
    padding-top: 79px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .background-shape-icon1 {
    min-width: 100%;
  }
  .sign-in-content-parent {
    gap: 47px;
  }
}
@media screen and (max-width: 450px) {
  .sign-in1 {
    font-size: 29px;
    line-height: 32px;
  }
  .button {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .sign-in-heading {
    gap: 18px;
  }
  .sign-in-content-parent {
    gap: 24px;
  }
}
