.container-icon15 {
  width: 300px;
  height: 200px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.asda-spaces,
.div55 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div55 {
  width: 57.9px;
  line-height: 135%;
  white-space: nowrap;
}
.asda-spaces {
  width: 18.4px;
  line-height: 18px;
}
.div56 {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  min-width: 68.3px;
  white-space: nowrap;
}
.asda-card-details {
  width: 152.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
}
.asda,
.asda-gift-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.asda {
  width: 35.9px;
  line-height: 22px;
  min-width: 35.9px;
}
.asda-gift-card {
  align-self: stretch;
  height: 18px;
  line-height: 135%;
  color: #645552;
  flex-shrink: 0;
}
.asda-card-containers,
.asda-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.asda-card-info {
  align-self: stretch;
  gap: 6px;
}
.asda-card-containers {
  gap: 24px;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #767676;
  font-family: Lato;
}
