.checkout2 {
  margin: 0;
  position: relative;
  font-size: 32px;
  line-height: 120%;
  font-weight: 400;
  font-family: Nunito;
  color: #000;
  text-align: left;
}
.first-name,
.header3 {
  font-size: 18px;
  font-family: Nunito;
}
.header3 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #645552;
  align-self: stretch;
  height: 54px;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
  box-sizing: border-box;
  color: #fff;
  min-width: 250px;
}
.first-name {
  position: relative;
  line-height: 22px;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 89px;
}
.block-1 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 24px;
  min-width: 314px;
  white-space: nowrap;
  max-width: 100%;
}
.last-name {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Nunito;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 87px;
}
.block-2,
.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.block-2 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  padding: 12px 24px;
  min-width: 314px;
  white-space: nowrap;
}
.row-1 {
  align-self: stretch;
  align-items: flex-start;
  gap: 19px;
}
.company-name {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Nunito;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 129px;
}
.block-11 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 24px;
  min-width: 314px;
  white-space: nowrap;
  max-width: 100%;
}
.country,
.icon4 {
  position: relative;
}
.country {
  font-size: 18px;
  line-height: 22px;
  font-family: Nunito;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 65px;
}
.icon4 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.block-21,
.row-2 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.block-21 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 11px 24px;
  min-width: 314px;
  gap: 20px;
}
.row-2 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
}
.street-address {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Nunito;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 122px;
}
.block-12,
.row-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.block-12 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  padding: 12px 24px;
}
.row-3 {
  align-self: stretch;
  align-items: flex-start;
}
.apartment-suite {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Nunito;
  color: #000;
  text-align: left;
}
.block-22 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 24px;
}
.town-city {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Nunito;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 92px;
}
.block-13,
.row-4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.block-13 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  padding: 12px 24px;
}
.row-4 {
  align-self: stretch;
  align-items: flex-start;
}
.email-address {
  width: 117px;
  border: 0;
  outline: 0;
  font-family: Nunito;
  font-size: 18px;
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 120%;
  color: #000;
  text-align: left;
  display: inline-block;
  padding: 0;
}
.block-23 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 24px;
}
.zip {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Nunito;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 27px;
}
.block-14 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 24px;
  min-width: 314px;
  max-width: 100%;
}
.phone {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Nunito;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.block-24,
.form-field-block,
.row-5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.block-24 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  padding: 12px 24px;
  min-width: 314px;
}
.form-field-block,
.row-5 {
  align-self: stretch;
  align-items: flex-start;
  gap: 19px;
}
.form-field-block {
  flex-direction: column;
  gap: 24px;
}
.billing-separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.tag-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button3 {
  width: 40px;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #645552;
  text-align: center;
  display: inline-block;
}
.tag-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button2 {
  cursor: pointer;
  border: 1px solid #bad6eb;
  padding: 14px 29px;
  background-color: transparent;
  width: 100px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.tag-icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button5 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Lato;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 68px;
}
.tag-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.billing-header-items,
.button4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: 16px 32px;
  background-color: #645552;
  border-radius: 4px;
  justify-content: flex-start;
  gap: 16px;
}
.billing-header-items {
  align-self: stretch;
  justify-content: space-between;
  gap: 20px;
}
.billing-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35.8px;
  min-width: 640px;
  max-width: 100%;
}
.checkout-details2 {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Nunito;
  color: #fff;
  text-align: left;
}
.header4 {
  cursor: pointer;
  border: 0;
  padding: 16px 24px;
  background-color: #645552;
  align-self: stretch;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.header4:hover {
  background-color: #8a7a78;
}
.cart-subtotal,
.order-detail-values {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Nunito;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 109px;
}
.order-detail-values {
  min-width: 69px;
  white-space: nowrap;
}
.cart-subtotal-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.div57,
.shipping-handling {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Nunito;
  color: #000;
  text-align: left;
}
.div57 {
  display: inline-block;
  min-width: 48px;
  white-space: nowrap;
}
.shipping-handling-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.div58,
.other-taxes {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Nunito;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 98px;
}
.div58 {
  min-width: 48px;
  white-space: nowrap;
}
.other-taxes-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.order-details-separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.div59,
.grand-total {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Nunito;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 95px;
}
.div59 {
  text-align: right;
  min-width: 69px;
  white-space: nowrap;
}
.checkout-details1,
.grand-total-parent,
.header5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.grand-total-parent {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.checkout-details1,
.header5 {
  border-radius: 5px;
  justify-content: flex-start;
}
.checkout-details1 {
  background-color: #fff;
  flex-direction: column;
  padding: 0 0 20px;
  gap: 35.8px;
}
.header5 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #645552;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 16px 24px;
  box-sizing: border-box;
  font-family: Nunito;
  font-size: 18px;
  color: #fff;
  min-width: 250px;
}
.image-1-icon {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 38px;
  height: 23px;
  object-fit: contain;
}
.logo-block {
  width: 51px;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.bank,
.transfer {
  margin: 0;
}
.bank-transfer {
  position: relative;
  font-size: 18px;
  line-height: 120%;
  font-family: Nunito;
  color: #000;
  text-align: left;
}
.block-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.image-2-icon {
  position: absolute;
  top: 10px;
  left: 9px;
  width: 34px;
  height: 16px;
  object-fit: contain;
}
.logo-block1 {
  width: 51px;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.google,
.pay {
  margin: 0;
}
.google-pay {
  position: relative;
  font-size: 18px;
  line-height: 120%;
  font-family: Nunito;
  color: #000;
  text-align: left;
}
.block-25,
.logos-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.logos-block {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.image-3-icon {
  position: absolute;
  top: calc(50% - 6.5px);
  left: calc(50% - 15.5px);
  width: 32px;
  height: 13px;
  object-fit: contain;
}
.logo-block2 {
  align-self: stretch;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.apple,
.pay1 {
  margin: 0;
}
.apple-pay {
  position: relative;
  font-size: 18px;
  line-height: 120%;
  font-family: Nunito;
  color: #000;
  text-align: left;
}
.block-3 {
  width: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.image-4-icon {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 40px;
  height: 20px;
  object-fit: contain;
}
.logo-block3 {
  width: 51px;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.paypal {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Nunito;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.block-3-parent,
.block-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.block-3-parent {
  width: 154px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.checkout-details3 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #fff;
  flex-direction: column;
  padding: 36px 294px 36px 24px;
  gap: 36px;
}
.billing-form,
.billing-header,
.checkout-details3,
.transfer-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.transfer-options {
  align-self: stretch;
  flex-direction: column;
}
.billing-form,
.billing-header {
  gap: 47px;
  max-width: 100%;
}
.billing-header {
  width: 500px;
  flex-direction: column;
  min-width: 500px;
}
.billing-form {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
}
@media screen and (max-width: 1275px) {
  .billing-header {
    flex: 1;
  }
  .billing-form {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .row-1,
  .row-2,
  .row-5 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .checkout2 {
    font-size: 26px;
    line-height: 31px;
  }
  .billing-content {
    gap: 18px;
    min-width: 100%;
  }
  .checkout-details1 {
    gap: 18px;
  }
  .checkout-details3 {
    gap: 18px;
    padding-right: 147px;
    box-sizing: border-box;
  }
  .billing-header {
    gap: 23px;
    min-width: 100%;
  }
  .billing-form {
    gap: 23px;
  }
}
@media screen and (max-width: 450px) {
  .checkout2 {
    font-size: 19px;
    line-height: 23px;
  }
  .billing-header-items,
  .cart-subtotal-parent,
  .grand-total-parent,
  .other-taxes-parent,
  .shipping-handling-parent {
    flex-wrap: wrap;
  }
  .checkout-details3 {
    padding-right: 20px;
    box-sizing: border-box;
  }
}
