.shopping3 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.horizontal-divider9 {
  width: 30px;
  height: 1px;
  position: relative;
  background-color: #6b6b6b;
}
.shopping-parent1 {
  width: 90.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.all-gift-cards3,
.e-gift-cards3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.all-gift-cards3 {
  color: inherit;
  text-decoration: none;
  min-width: 97.4px;
}
.e-gift-cards3 {
  min-width: 90.2px;
}
.greeting-cards4 {
  height: 18px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 108.8px;
}
.frame-parent24,
.link-items1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-items1 {
  gap: 8px;
  font-size: 16px;
  color: #000;
  font-family: Lato;
}
.frame-parent24 {
  width: 180px;
  gap: 21px;
}
.our-company3 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.horizontal-divider10 {
  width: 30px;
  height: 1px;
  position: relative;
  background-color: #6b6b6b;
}
.our-company-parent1 {
  width: 127.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.contact-us3,
.wish-card3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 81.8px;
}
.wish-card3 {
  color: inherit;
  text-decoration: none;
  min-width: 75.1px;
}
.gift-cards-for3 {
  height: 18px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-us-parent1,
.frame-parent25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-us-parent1 {
  gap: 8px;
  font-size: 16px;
  color: #000;
  font-family: Lato;
}
.frame-parent25 {
  padding: 0 11px 0 0;
  gap: 21px;
}
.information3 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.horizontal-divider11 {
  width: 30px;
  height: 1px;
  position: relative;
  background-color: #6b6b6b;
}
.information-parent1 {
  width: 121.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.privacy-policy3 {
  position: relative;
  line-height: 18px;
  display: inline-block;
  min-width: 98.8px;
  flex-shrink: 0;
}
.item-link30 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.terms-conditions3 {
  position: relative;
  line-height: 18px;
  flex-shrink: 0;
}
.item-link31 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.site-map3 {
  height: 18px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 64.6px;
}
.frame-parent26,
.item-link-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.item-link-parent1 {
  gap: 12px;
  font-size: 16px;
  color: #000;
  font-family: Lato;
}
.frame-parent26 {
  padding: 0 37px 0 0;
  gap: 21px;
}
.container-inner,
.frame-parent23 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent23 {
  width: 1232px;
  justify-content: space-between;
  gap: 20px;
}
.container-inner {
  width: 1844.4px;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.the-gift-card3 {
  position: relative;
  line-height: 22px;
}
.cc-mastercardpng-icon3,
.cc-visapng-icon3 {
  align-self: stretch;
  width: 37.5px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 24px;
}
.payment-icon-containers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.payment-icon-containers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1px;
}
.cc-american-expresspng-icon3 {
  height: 24px;
  width: 37.5px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 12px);
  right: 30px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.background6 {
  align-self: stretch;
  background-color: #645552;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 30px 77px 29px 30px;
  position: relative;
  gap: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: Lato;
}
.container29,
.footer6,
.footer7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.container29 {
  flex: 1;
  background-color: #e0cdbe;
  flex-direction: column;
  padding: 80px 0 0;
  box-sizing: border-box;
  gap: 86px;
}
.footer6,
.footer7 {
  flex-direction: row;
}
.footer7 {
  flex: 1;
  background-color: #fff;
}
.footer6 {
  align-self: stretch;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #181823;
  font-family: Nunito;
}
@media screen and (max-width: 1050px) {
  .background6 {
    padding-right: 38px;
    box-sizing: border-box;
  }
  .container29 {
    gap: 43px;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent23 {
    flex-wrap: wrap;
  }
  .container29 {
    gap: 21px;
  }
  .footer6 {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .background6 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .container29 {
    padding-top: 52px;
    box-sizing: border-box;
  }
}
