.hourly-details {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #cacaca;
  box-sizing: border-box;
}
.cards-icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.206);
}
.wrapper-cards {
  height: 77.5px;
  width: 124px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panorma-presents-gift {
  width: 179px;
  position: relative;
  line-height: 135%;
  display: inline-block;
}
.panorama-card-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  min-width: 169px;
}
.divider {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 60px;
  white-space: nowrap;
}
.empty-item {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
}
.icon-plus {
  width: 16px;
  height: 16px;
  position: relative;
}
.plus-minus-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.checkout-title {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 10px;
}
.minus-icon {
  margin: 0;
  height: 19px;
  width: 16px;
}
.plus-minus-icons-parent {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #1c1c1c;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7px 9px 7px 7px;
  gap: 20px;
}
.hourly {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 49px;
}
.logo-container-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.hourly-value {
  flex-direction: column;
  padding: 3px 0 0;
}
.checkout-button,
.hourly-parent,
.hourly-value {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hourly-parent {
  border-radius: 8px;
  background-color: #645552;
  overflow: hidden;
  flex-direction: row;
  padding: 8px 16px;
  gap: 9px;
  color: #fff;
}
.checkout-button {
  width: 205px;
  flex-direction: column;
  padding: 0 93px 0 0;
  box-sizing: border-box;
  gap: 15px;
  color: #645552;
}
.company-logo {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 51px;
  white-space: nowrap;
}
.card-quantity,
.plus-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.plus-button {
  width: 880px;
  flex-direction: row;
  gap: 15px;
}
.card-quantity {
  align-self: stretch;
  flex-direction: column;
  gap: 35px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Lato;
}
@media screen and (max-width: 850px) {
  .plus-button {
    flex-wrap: wrap;
  }
  .card-quantity {
    gap: 17px;
  }
}
