.free-wallet-with2 {
  width: 513.7px;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
  max-width: 100%;
}
.container4,
.icon10,
.icon11 {
  overflow: hidden;
  flex-shrink: 0;
}
.container4 {
  width: 1259.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.icon10,
.icon11 {
  height: 14px;
  width: 8.8px;
  position: relative;
  display: none;
  opacity: 0.6;
}
.background4 {
  align-self: stretch;
  background-color: #645552;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 6px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.logo-icon1 {
  width: 34px;
  height: 36px;
  position: relative;
}
.logo-icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5px 0 0;
}
.present-haven3 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 150%;
  text-transform: capitalize;
  white-space: nowrap;
}
.frame-parent3 {
  flex-direction: row;
  gap: 5.8px;
}
.frame-parent3,
.logo-frame,
.logo3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo3 {
  overflow: hidden;
  flex-direction: row;
}
.logo-frame {
  flex-direction: column;
  padding: 24px 0 0;
}
.item-link20 {
  text-decoration: none;
  position: relative;
  line-height: 89px;
  color: inherit;
  display: inline-block;
  min-width: 92px;
}
.item-link21 {
  width: 60.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 60.4px;
}
.item-link21,
.item-link22,
.item-link23 {
  text-decoration: none;
  position: relative;
  line-height: 89px;
  color: inherit;
}
.item-link22 {
  display: inline-block;
  min-width: 63px;
}
.item-link23 {
  width: 65.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 65.3px;
}
.item-link24 {
  display: inline-block;
  min-width: 102px;
}
.item-link24,
.item-link25,
.item-link26,
.item-link27 {
  text-decoration: none;
  position: relative;
  line-height: 89px;
  color: inherit;
}
.item-link25 {
  width: 79.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 79.2px;
}
.item-link26,
.item-link27 {
  display: inline-block;
  min-width: 88px;
}
.item-link27 {
  min-width: 92px;
}
.nav-links,
.nav-list2 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.nav-links {
  flex: 1;
  justify-content: space-between;
  padding: 0 1px 0 0;
  gap: 20px;
  text-align: center;
  font-size: 14px;
  color: #1c1c1c;
  font-family: "Work Sans";
}
.nav-list2 {
  width: 876.9px;
  justify-content: flex-start;
  padding: 0 12px 0 15px;
}
.cart-icon {
  width: 20px;
  height: 20px;
  position: relative;
  flex-shrink: 0;
}
.cart-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.link-icon2 {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 26px;
}
.user-cart-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.user-cart-parent-wrapper {
  width: 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 31.5px 0 0;
  box-sizing: border-box;
}
.background-container,
.header2,
.logo-nav-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.logo-nav-parent {
  align-self: stretch;
  background-color: #e0cdbe;
  flex-direction: row;
  justify-content: center;
  padding: 5.5px 20px;
  box-sizing: border-box;
  gap: 181px;
  text-align: left;
  font-size: 27.2px;
  color: #000;
  font-family: Nunito;
}
.background-container,
.header2 {
  justify-content: flex-start;
}
.background-container {
  flex: 1;
  flex-direction: column;
}
.header2 {
  align-self: stretch;
  flex-direction: row;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: Lato;
}
@media screen and (max-width: 1275px) {
  .logo-nav-parent {
    gap: 90px;
  }
}
@media screen and (max-width: 750px) {
  .logo-nav-parent {
    gap: 45px;
  }
}
@media screen and (max-width: 450px) {
  .logo-nav-parent {
    gap: 23px;
  }
}
