.home {
  width: 50px;
  position: relative;
  line-height: 18px;
  color: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
  z-index: 1;
}
.link,
.link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 0.3px;
}
.link-wrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7px 0 0;
}
.all-cards-a-z,
.card-sort {
  position: relative;
  line-height: 18px;
  flex-shrink: 0;
}
.card-sort {
  color: #767676;
  display: inline-block;
  min-width: 10px;
}
.all-cards-a-z {
  flex: 1;
}
.product-listing {
  width: 183.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.7px;
}
.border-icon,
.container-icon16 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.product-card {
  height: 140.7px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.all20gift20cards20rectangle-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.backgroundborder8,
.backgroundborder9 {
  height: 8px;
  width: 8px;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}
.backgroundborder9 {
  background-color: #000;
  border: 1px solid #fff;
}
.container15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px 20px;
  gap: 8px;
  opacity: 0.6;
  z-index: 1;
}
.container14,
.product-item {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.container14 {
  flex: 1;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  min-width: 325px;
  min-height: 326px;
}
.product-item {
  width: 628px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
  min-width: 628px;
}
.microsoft-store-lifestyle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 48px;
  line-height: 110%;
  font-weight: 400;
  font-family: Nunito;
  color: #645552;
}
.div63 {
  display: inline-block;
  min-width: 50.9px;
  white-space: nowrap;
}
.div63,
.label-choose,
.select {
  position: relative;
  line-height: 22px;
}
.label-choose {
  width: 139px;
  display: flex;
  align-items: center;
}
.select {
  margin-bottom: -1.5px;
  display: inline-block;
  min-width: 51px;
}
.container16 {
  height: 17px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 51px;
  max-width: 100%;
}
.selectphp-icon {
  width: 13px;
  height: 8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.options,
.product-options,
.selectphp-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.selectphp-wrapper {
  flex-direction: column;
  padding: 4.5px 0 0;
}
.options,
.product-options {
  max-width: 100%;
}
.options {
  align-self: stretch;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  flex-direction: row;
  padding: 10px 11px;
  gap: 12px;
  color: #4b4b4b;
}
.product-options {
  width: 560px;
  flex-direction: column;
  gap: 3px;
}
.b {
  position: relative;
  display: inline-block;
  min-width: 11px;
}
.quantity-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14.5px 0 0;
}
.placeholder {
  margin-top: -2px;
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 10px;
}
.container17,
.input-qty {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container17 {
  height: 18px;
  overflow: auto;
  padding: 0 22px 0 24px;
}
.input-qty {
  width: 57.6px;
  border-radius: 2px;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  flex-shrink: 0;
  padding: 15px 0;
  text-align: center;
  font-size: 16px;
  color: #4b4b4b;
  font-family: Lato;
}
.b1 {
  position: relative;
  display: inline-block;
  min-width: 11px;
}
.backgroundborder10,
.quantity-label1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14.5px 0 0;
}
.backgroundborder10 {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
  flex-direction: row;
  padding: 0 18px 0 21px;
  gap: 19.6px;
}
.add-to-basket {
  position: relative;
  font-size: 14px;
  font-family: "Work Sans";
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 97px;
}
.backgroundborder-parent,
.button8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.button8 {
  cursor: pointer;
  border: 0;
  padding: 17px 20px 17px 21px;
  background-color: #645552;
  flex: 1;
  border-radius: 3px;
  justify-content: center;
  box-sizing: border-box;
  min-width: 97px;
  white-space: nowrap;
}
.button8:hover {
  background-color: #8a7a78;
}
.backgroundborder-parent {
  width: 560px;
  justify-content: flex-start;
  gap: 10px;
  font-size: 17px;
  color: #181823;
  font-family: "Courier New";
}
.brand,
.lifestyle1 {
  position: relative;
  flex-shrink: 0;
}
.brand {
  width: 54px;
  line-height: 23px;
  display: flex;
  align-items: center;
}
.lifestyle1 {
  line-height: 22.5px;
  display: inline-block;
  min-width: 67.2px;
}
.brand-tag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.description1 {
  line-height: 120%;
}
.description {
  margin: 0;
  font-size: 24px;
  font-family: Nunito;
}
.blank-line1 {
  line-height: 120%;
}
.blank-line {
  margin: 0;
  font-size: 18px;
}
.finding-the-perfect,
.key-features {
  margin: 0;
  line-height: 135%;
}
.wide-selection-of {
  line-height: 135%;
}
.wide-selection-of-retailers-o1 {
  margin-bottom: 0;
}
.flexible-denominations-choose1 {
  line-height: 135%;
}
.flexible-denominations-choose {
  margin-bottom: 0;
}
.instant-delivery-opt {
  line-height: 135%;
}
.instant-delivery-opt-for-inst {
  margin-bottom: 0;
}
.no-expiry-date {
  line-height: 135%;
}
.no-expiry-date-enjoy-peace-of {
  margin-bottom: 0;
}
.personalized-messages-add {
  line-height: 135%;
}
.personalized-messages-add-a-p {
  margin-bottom: 0;
}
.wide-selection-of-retailers-o {
  margin: 0;
  padding-left: 21px;
}
.blank-line2 {
  margin: 0;
  line-height: 135%;
}
.why-choose-our {
  margin: 0;
  font-size: 18px;
  line-height: 120%;
  font-family: Nunito;
}
.our-gift-cards {
  margin: 0;
  line-height: 135%;
}
.description-finding-the-container1 {
  width: 100%;
}
.description-finding-the-container {
  width: 554px;
  height: 578px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.for-and-then,
.go-shopping-in,
.golf-direct-as,
.to-spend-at,
.voucher-reference-and {
  margin: 0;
}
.go-shopping-in-container {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.horizontalborder,
.horizontalborder1,
.microsoft-store-lifestyle-gif-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.horizontalborder1 {
  align-self: stretch;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  flex-direction: row;
  padding: 14.5px 15px 42px;
}
.horizontalborder,
.microsoft-store-lifestyle-gif-parent {
  flex-direction: column;
}
.horizontalborder {
  width: 560px;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.microsoft-store-lifestyle-gif-parent {
  width: 611px;
  gap: 20.8px;
  min-width: 611px;
}
.product-row1 {
  width: 1439px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.main-content,
.product-grid,
.product-row1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.product-grid {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  color: #767676;
}
.main-content {
  width: 1591px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #645552;
  font-family: Lato;
}
@media screen and (max-width: 1300px) {
  .microsoft-store-lifestyle-gif-parent,
  .product-item {
    flex: 1;
  }
  .product-row1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .product-item {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .microsoft-store-lifestyle {
    font-size: 38px;
    line-height: 42px;
  }
  .backgroundborder-parent,
  .options {
    flex-wrap: wrap;
  }
  .microsoft-store-lifestyle-gif-parent {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .microsoft-store-lifestyle {
    font-size: 29px;
    line-height: 32px;
  }
}
